/* Main Setup ---------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap');

:root{
    --mainbgcolor: rgb(249, 249, 249);
    --darkishBlack: rgb(42, 40, 40);
    --fadeDarkishBlack: rgba(42, 40, 40, 0.75);
}

*{
    margin: 0;
    box-sizing: border-box;
}

h1, p, a{
    font-family: 'Ubuntu', sans-serif;
}

body{
    padding-bottom: 25vh; /* Having a 25vh padding allows us to position absolute the footer inside the body */
    position: relative;
}

.contentHidden{
    visibility: hidden;
}

/* Animations ---------------------------------------------------------------------------------------------------------------- */

.fadeFromTop{
    animation: fadeFromTop 1.3s ease;
}

.fadeFromBottom{
    animation: fadeFromBottom 1.3s ease;
}

@keyframes fadeFromTop{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromBottom {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header -------------------------------------------------------------------------------------------------------------------- */

nav{
    background: var(--darkishBlack);

    display: flex;
    justify-content: center; /* Distribute items evenly */

    padding: 0.5rem;
}

.cyberlions-default-logo-banner{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    max-width: 15vw;
    width: 100%;
}
.cyberlions_title{
    font-size: 1.3rem;
    font-weight: 600;

    color: white;
}
.cyberlions-default-logo-banner img{
    max-width: 5rem;
    width: 100%;
}

.navigation-lists{
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    gap: 1rem;
    align-items: center;

    width: 100%;
    max-width: 40rem;
}

li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
}

/* Main Background Starts Here ----------------------------------------------------------------------------------------------- */

.background-wrapper{
    display: grid;
    grid-template-areas: "one"; /* Use this to stack the image and paragraph on top of eachother */

    place-items: center;
}

.background-wrapper p{
    font-size: 8rem;

    grid-area: one;
    z-index: 1;

    color: white;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;

    background: var(--fadeDarkishBlack);
    box-shadow: 15px 15px 2px #cd2027;

    padding: 1rem;
    border-radius: 1rem;
}

.background-wrapper img{ 
    object-fit: cover; /* Crop out excess */
    
    width: 100%;
    max-width: 100vw;
    min-height: 85vh;

    grid-area: one;
}

/* Main Content --------------------------------------------------------------------------------------------------------------- */

.contentSection{
    min-height: 80vh;

    display: flex;
    gap: 10rem;

    justify-content: center;
    align-items: center;

}
.contentSectionEven{
    background: var(--mainbgcolor);
}

.contentSection img{
    border-radius: 1rem;
    max-height: 50vh;

    max-width: 35vw;
}
.contentText{

    display: flex;
    gap: 5rem;
    flex-direction: column;

    max-width: 45vw;
}

.contentText p{

    font-size: 2rem;
    font-family: 'Lato', sans-serif;

    line-height: 3rem;
}
.contentText h1{

    font-size: 5rem;
}

#cyberlions-mission-quote{
    max-width: 75vw;
}

#cyberlions-mission-quote p{
    font-size: 3rem;
    line-height: 2em;
    text-align: center;

    font-style: italic;
}



/* Footer -------------------------------------------------------------------------------------------------------------------- */

footer{
    background-color: var(--darkishBlack);
    min-height: 25vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    bottom: 0;
    width: 100%;
}

/* CyberLions logo and team name */
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.footer-logo img{

    max-width: 10rem;
    width: 100%;
}

.footer-sponsers{

    display: grid;
    grid-template-areas: 
    
    "first nasa"
    "abbott .";

    gap: 2rem;
}
#frc{
    grid-area: first;
}
#nasa{
    grid-area: nasa;
    max-width: 7vw;
}
#abbott{
    grid-area: abbott;
    max-width: 20vw;
    max-height: 5vh;
}

.footer-navigation-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;

    gap: 1rem;
}