/* Main Setup ---------------------------------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap');

:root{
    --mainbgcolor: rgb(245, 245, 245);
    --lionsRed: #cd2027;
    --darkishBlack: rgb(42, 40, 40);
    --fadeDarkishBlack: rgba(42, 40, 40, 0.75);
    --shadedRed: #ff94974f;
}

*{
    margin: 0;
    box-sizing: border-box;
}

h1, p, a{
    font-family: 'Ubuntu', sans-serif;
}

body{
    padding-bottom: 25vh; /* Having a 25vh padding allows us to position absolute the footer inside the body */
    position: relative;
}

.contentHidden{
    visibility: hidden;
}

/* Animations ---------------------------------------------------------------------------------------------------------------- */

.fadeFromTop{
    animation: fadeFromTop 1.3s ease;
}

.fadeFromBottom{
    animation: fadeFromBottom 1.3s ease;
}

@keyframes fadeFromTop{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeFromBottom {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header -------------------------------------------------------------------------------------------------------------------- */

nav{
    background: var(--darkishBlack);

    display: flex;
    justify-content: center; /* Distribute items evenly */

    padding: 0.5rem;
}

.cyberlions-default-logo-banner{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    max-height: 10vh;
}
.cyberlions_title{
    font-size: 1.2rem;
    font-weight: 500;

    color: white;
}
.cyberlions-default-logo-banner img{
    max-width: 8vh;
    width: 100%;
}

.navigation-lists{
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    gap: 1.5rem;
    align-items: center;

}

li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;

    transition: 0.1s ease;
}

li a:hover{
    opacity: 0.7;
    transition: 0.1s ease;
}

/* Main Background Starts Here ----------------------------------------------------------------------------------------------- */

.background-wrapper{
    display: grid;
    grid-template-areas: "one"; /* Use this to stack the image and paragraph on top of eachother */

    position: relative;
    place-items: center;
}

.background-wrapper img{ 
    object-fit: cover; /* Crop out excess */
    
    width: 100%;
    max-width: 100vw;
    max-height: 90vh;

    grid-area: one;
}

/* Shader for the background image on main page */
.shader{ 
    
    width: 100%; /* same size as the background image which is realtive to the background wrapper */
    height: 100%;

    grid-area: one;

    background-color: var(--shadedRed);
    z-index: 1;
}

.background-wrapper p{
    font-size: 8vh;

    grid-area: one;
    z-index: 2;

    color: white;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;

    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 1rem;

    position: absolute;
    bottom: 15%;

    background: var(--fadeDarkishBlack);
    box-shadow: 7px 7px 2px var(--lionsRed);
}

/* Main Content --------------------------------------------------------------------------------------------------------------- */

.contentSection{
    min-height: 80vh;

    display: flex;
    gap: 5vw;

    justify-content: center;
    align-items: center;
}
.contentSectionEven{
    background: var(--mainbgcolor);
}

.contentSection video{
    width: 100%;
    max-width: 40vw;
    max-height: 50vh;

    border-radius: 5vh;
    outline: 0.5vh solid var(--lionsRed);
}

.content-img{
    border-radius: 1rem;
    max-height: 50vh;

    max-width: 35vw;
}
.contentText{

    display: flex;
    gap: 5vh;
    flex-direction: column;

    max-width: 40vw;
}

.contentText p{

    font-size: 2.5vh;
    font-family: 'Lato', sans-serif;

    line-height: 5vh;
}
.contentText h1{

    font-size: 6vh;
}

#cyberlions-mission-quote{
    max-width: 75vw;
}

#cyberlions-mission-quote p{
    font-size: 3.8vh;
    line-height: 2em;
    text-align: center;

    font-style: italic;
}

/* FRC Montage --------------------------------------------------------------------------------------------------------------- */

.frc-montage{
    display: grid;

    grid-template-areas:

    "img1 img2 img2"
    "img3 img4 img5"
    "img3 img6 img7";

    gap: 0.5rem;
    margin: 10vh;
}

.frc-montage img{
    max-width: 25vw;
    max-height: 30vh;

    border-radius: 1rem;
}

#img1{
    grid-area: img1;
}
#img2{
    grid-area: img2;
}
#img3{
    grid-area: img3;
}
#img4{
    grid-area: img4;
}
#img5{
    grid-area: img5;
}
#img6{
    grid-area: img6;
}
#img7{
    grid-area: img7;
}

/* Footer -------------------------------------------------------------------------------------------------------------------- */

footer{
    background-color: var(--darkishBlack);
    min-height: 25vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    position: absolute;
    bottom: 0;
    width: 100%;
}

/* CyberLions logo and team name */
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.footer-logo img{

    width: 5vw;
}
.footer-logo h1{
    font-size: 5vh;
}

.footer-sponsers{

    display: grid;
    grid-template-areas: 
    
    "first nasa"
    "abbott .";

    gap: 2vh;
}
#frc{
    grid-area: first;
    max-width: 6vw;
}
#nasa{
    grid-area: nasa;
    max-width: 5vw;
}
#abbott{
    grid-area: abbott;
    max-width: 5vw;
}

.footer-navigation-links ul{
    list-style: none;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
}

.footer-navigation-links a{

    font-size: 2vh;
}