/* ==================================================================================================================================== */
/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

/* ==================================================================================================================================== */
/* DEFAULT VALUES */

:root{
  --discord-black: #36393F;
  --super-light-grey: rgb(245, 245, 245);
}

*{
  margin: 0;
  padding: 0;

  font-family: 'Lato', Courier, monospace;
  box-sizing: border-box;
}

/* ==================================================================================================================================== */
/* NAVIGATION BAR */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--discord-black);
  color: white;

  padding: 1vh 0;
}

.nav-cyberlions-logo{
  display: flex;
  
  justify-content: center;
  gap: 1vw;
  align-items: center;

  padding-left: 2vw;
}

.nav-cyberlions-logo > img{
  max-width: 4vw;
}

.nav-cyberlions-logo > h1{
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  font-size: 1.5vw;
}

nav > ul{
  list-style: none;

  display: flex;
  gap: 2vw;
  padding-right: 2vw;
}

nav > ul > li > a{
  text-decoration: none;

  color: inherit;
  font-size: 2.5vh;
}

/* ==================================================================================================================================== */
/* SECTION COMPONENT */

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 80vh;
  max-height: 80vh;

  gap: 7vw;
  background: white;
}

.section-container-grey-background{
  background: var(--super-light-grey);
}

.section-image{
  border-radius: 5vh;

  max-width: 50vw;
  max-height: 50vh;
}

.section-text{
  max-width: 35vw;

  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.section-text > h1{
  font-size: 6vh;
}

.section-text > p{
  font-size: 2.6vh;
  line-height: 6vh;
}