/* ==================================================================================================================================== */
/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

/* ==================================================================================================================================== */
/* DEFAULT VALUES */

:root{
  --cyberlions-red: #cd2027;
  --cyberlions-red-faded: #cd2026e7;

  --discord-level-black: #1e1f21;
  --honestly-kinda-grey: rgb(194, 194, 194);

  --chad-orange: #FF6633;
  --header-margin-display: 10vh;
}

*{
  margin: 0;
  padding: 0;

  font-family: 'Lato', Courier, monospace;
  box-sizing: border-box;

  list-style-position: inside;
}

.content-gone{
  display: none !important;
}

.highlight{
  background: var(--chad-orange);
}

.body{
  min-height: 100vh;
  position: relative;

  padding-bottom: 30vh;
}

/* ==================================================================================================================================== */
/* BUTTON COMPONENT */

.button{
  font-size: 2.5vh;
  line-height: 5vh;
  font-family: 'Lato', cursive;

  color: white;
  max-width: 50vw;
  text-decoration: none;

  padding: 1vh 2vw;
  background: white;
}

/* ==================================================================================================================================== */
/* NAVIGATION BAR */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;

  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  max-width: 100vw;

  padding: 1vh 0;
  transition: 500ms ease-in-out;

  min-height: 10vh;
  max-height: 10vh;
}

.nav-background{
  transition: 250ms ease-in-out;
  background: var(--discord-level-black);

  box-shadow: 3.716px 3.346px 40px 0px rgba(43,43,43,0.1);
}

.nav-cyberlions-logo{
  display: flex;
  
  justify-content: center;
  gap: 1vw;
  align-items: center;

  padding-left: 2vw;
}

.nav-cyberlions-logo > img{
  max-width: 3.5vw;
}

.nav-cyberlions-logo > h1{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3vw;

  color: var(--cyberlions-red);
}

nav > ul{
  list-style: none;

  display: flex;
  gap: 2vw;
  padding-right: 2vw;
}

nav a{
  text-decoration: none;

  color: inherit;
  font-size: 2.5vh;

  padding: 0.5vh;
  border-radius: 1vh;

  transition: 250ms ease;
}

nav a:hover{
  transition: 250ms ease;
  background: var(--cyberlions-red);
}

/* ==================================================================================================================================== */
/* FOOTER */

footer{
  background: var(--discord-level-black);
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  bottom: 0;
  width: 100%;

  position: absolute;
  min-height: 30vh;
  max-height: 30vh;
}

.footer-copyright{
  position: absolute;
  left: 0;
  bottom: 0;

  font-size: 2vh;
}

.footer-links ul{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  gap: 3vh;
}

.footer-links ul > li > a{
  text-decoration: none;
  color: white;

  font-size: 2.6vh;
  transition: 250ms ease;
}

.footer-links ul > li > a:hover{
  transition: 250ms ease;
  color: var(--cyberlions-red);
}

.footer-slogan{
  font-size: 3vh;
  max-width: 12vw;

  font-style: italic;
}

.footer-team-name{
  display: flex;
  flex-direction: column;
  gap: 0.5vh;

  align-items: flex-end;
}

.footer-team-name-socials{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3vh;
}

.footer-team-name-socials img{
  max-width: 4vw;
  max-height: 4vh;

  transform: rotate(0deg);
  transition: 250ms ease;
}

.footer-team-name-socials img:hover{
  max-width: 4vw;
  max-height: 4vh;

  transform: rotate(-45deg);
  cursor: pointer;
  transition: 250ms ease;
}


.footer-team-name-banner{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3vh;
}

.footer-team-name-banner > img{
  max-width: 10vw;
  max-height: 10vh;
}

.footer-team-name-banner > h1{
  font-size: 5vh;
}

/* ==================================================================================================================================== */
/* SECTION COMPONENT */

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 90vh;
  max-height: 90vh;

  gap: 7vw;
  background: white;
}

.section-container-grey-background{
  background: var(--honestly-kinda-grey);
}

.section-image{
  border-radius: 5vh;

  max-width: 50vw;
  max-height: 50vh;
}

.section-text{
  max-width: 35vw;

  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.section-text > h1{
  font-size: 6vh;
}

.section-text > p{
  font-size: 2.6vh;
  line-height: 6vh;
}

/* ==================================================================================================================================== */
/* LANDING PAGE */

main{
  min-height: 100vh;
  max-height: 100vh;
  position: relative;

  display: grid;
  grid-template-areas: "same";

  place-items: center;
}

/* Note that ::before and ::after pseduo elements cannot be used with "replaced elements" (external elements like img) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element */
main::after{
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  opacity: 0.5;
  z-index: -1;
  background: var(--discord-level-black);
}

.main-background{
  grid-area: same;

  height: 100%;
  max-height: inherit;
  width: 100%;
  max-width: 100vw;

  object-fit: cover;
  z-index: -1;
  position: relative;  
}

.main-hero-text{
  grid-area: same;
  margin-top: 10vh;

  display: flex;
  gap: 4vw;
  align-items: center;
  flex-direction: column;

  width: 100%;
  max-width: 100vw;
}

.main-hero-text > h1{
  color: white;
  font-size: 4rem;

  font-family: 'Vollkorn', serif;
}

.main-button-hyperlinks{
  display: flex;
  gap: 5vw; 
}

.main-hero-text-description{
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 20vh;

  width: 100%;
  max-width: 100vw;
}

.main-hero-text-description > p{
  font-size: 2.75vh;
  text-align: center;
  line-height: 5vh;
  font-family: 'Lato', cursive;

  color: white;
  max-width: 65vw;
}

/* ==================================================================================================================================== */
/* Featured Robot Display */

.featured-robot-display{
  min-height: 150vh;

  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
}

.featured-robot-display > h1{
  font-size: 3.5rem;
  color: var(--cyberlions-red);

  margin-top: var(--header-margin-display);
}

.featured-robot-display-image{
  max-width: 55vw;
}

.featured-robot-display-starlight{
  max-width: 7rem;
  position: absolute;
}

#star-one{
  top: 40vh;
  left: 10vw;
}
#star-two{
  top: 30vh;
  right: 10vw;
}
#star-thr{
  top: 60vh;
  right: 25vw;
}

.featured-robot-display-table{
  margin: var(--header-margin-display);

  display: flex;
  flex-direction: row;
  gap: 20rem;

  /* outline: 1px solid red; */

  justify-content: center;
}

.featured-robot-display-table section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featured-robot-display-table h2{
  font-size: 2.75rem;

  text-decoration: underline;

  color: var(--cyberlions-red);
}

.featured-robot-display-table ul{
  font-size: 1.75rem;
  list-style: square;
}

/* ==================================================================================================================================== */
/* Newsletter */

.newsletter-container{
  display: flex;

  align-items: center;
  min-height: 100vh;

  flex-direction: column;
}

.newsletter-container > h1{
  margin-top: var(--header-margin-display);
  font-size: 6vh;
  color: var(--cyberlions-red);
}

.newsletter-container-listing{

  margin: 3rem;
  max-width: 70vw;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.newsletter-content{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 2rem;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--honestly-kinda-grey);
}

.newsletter-content:first-child{
  border-top: 1px solid var(--honestly-kinda-grey);
}

.newsletter-content section{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.newsletter-content img{
  min-width: 20vw;
  max-height: 25vh;

  object-fit: cover;
}

.newsletter-content h1{
  font-size: 1.75rem;
  font-style: italic;
}

.newsletter-content p{
  font-size: 1.25rem;
  font-family: 'Vollkorn', serif;
}

/* ==================================================================================================================================== */
/* MAIN SPONSOR AREA */

.root-sponsor-thanks{
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2rem;

  background: var(--cyberlions-red);
}

.root-sponsor-thanks h1{
  padding-top: var(--header-margin-display); 
  font-size: 6vh;

  color: white;
}

.root-sponsor-thanks-icons{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5vw;

  padding-bottom: 5vh;
}

.root-sponsor-thanks-icons > img{
  max-width: 10vw;
}

/* ==================================================================================================================================== */
/* ANIMATIONS */

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

