/* ==================================================================================================================================== */
/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');

/* ==================================================================================================================================== */
/* DEFAULT VALUES */

:root{
  --lions-red: #cd2027;
  --discord-black: #1e1f218c;
  --super-light-grey: rgb(245, 245, 245);
  --super-dark-grey: rgb(42, 40, 40);
}

*{
  margin: 0;
  padding: 0;

  font-family: 'Lato', Courier, monospace;
  box-sizing: border-box;
}

.content-gone{
  display: none !important;
}

.highlight{
  background: var(--light-lions-red);
}

.body{
  min-height: 100vh;
  position: relative;

  padding-bottom: 30vh;
}

/* ==================================================================================================================================== */
/* NAVIGATION BAR */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
  color: white;

  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  max-width: 100vw;

  padding: 1vh 0;
}

.nav-cyberlions-logo{
  display: flex;
  
  justify-content: center;
  gap: 1vw;
  align-items: center;

  padding-left: 2vw;
}

.nav-cyberlions-logo > img{
  max-width: 3.5vw;
}

.nav-cyberlions-logo > h1{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3vw;

  color: var(--lions-red);
}

nav > ul{
  list-style: none;

  display: flex;
  gap: 2vw;
  padding-right: 2vw;
}

nav a{
  text-decoration: none;

  color: inherit;
  font-size: 2.5vh;

  padding: 0.5vh;
  border-radius: 1vh;

  transition: 250ms ease;
}

nav a:hover{
  transition: 250ms ease;
  background: var(--lions-red);
}

/* ==================================================================================================================================== */
/* SECTION COMPONENT */

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 90vh;
  max-height: 90vh;

  gap: 7vw;
  background: white;
}

.section-container-grey-background{
  background: var(--super-light-grey);
}

.section-image{
  border-radius: 5vh;

  max-width: 50vw;
  max-height: 50vh;
}

.section-text{
  max-width: 35vw;

  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.section-text > h1{
  font-size: 6vh;
}

.section-text > p{
  font-size: 2.6vh;
  line-height: 6vh;
}

/* ==================================================================================================================================== */
/* LANDING PAGE */

main{
  min-height: 95vh;
  max-height: 95vh;

  position: relative;

  display: grid;
  grid-template-areas: "same";

  place-items: center;
}

/* Note that ::before and ::after pseduo elements cannot be used with "replaced elements" (external elements like img) */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Replaced_element */
main::after{
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 95vh;

  opacity: 0.5;
  z-index: -1;
  background: var(--discord-black);
}

.main-team-background{
  grid-area: same;

  max-height: inherit;
  width: 100%;
  max-width: 100vw;

  object-fit: cover;
  z-index: -1;
  position: relative;  
}

.main-team-banner{
  grid-area: same;

  display: flex;
  gap: 3vw;
  align-items: center;
  flex-direction: row-reverse;
}

.main-team-banner > img{
  max-width: 40vw;
  max-height: 40vh;
}

.main-team-slogan h1{
  font-family: 'Lato', cursive;
  font-size: 12vh;
  font-weight: 100;

  color: white;
  max-width: 40vw;
}

.main-team-slogan p{
  font-family: 'Lato', cursive;
  font-size: 4vh;
  font-weight: 100;

  font-style: italic;
  color: white;
  max-width: 40vw;
}

.main-sponsor-thanks{
  display: flex;
  flex-direction: column;

  align-items: center;

  background: var(--lions-red);
}

.main-sponsor-thanks h1{
  padding: 5vh 0; 
  font-size: 6vh;

  color: white;
}

.main-sponsor-thanks-icons{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5vw;

  padding-bottom: 5vh;
}

.main-sponsor-thanks-icons > img{
  max-width: 10vw;
}

.main-support-container{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  gap: 5vw;
  padding: 10vh 0;
}

.main-support-container > article{
  font-family: 'Lato', cursive;
  font-size: 4vh;

  display: flex;
  gap: 3vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

.main-support-container p{
  font-size: 2.6vh;
  line-height: 6vh;

  max-width: 60vw;
}

.main-support-images{
  display: grid;

  grid-template-areas:
    "debug cheer"
    "hang plan"
  ;

  gap: 1vw;

  width: 100%;
  max-width: 60vw;
}

.main-support-images > img{

  min-width: 30vw;
  min-height: 30vh;

  max-width: 30vw;
  max-height: 30vh;

  border-radius: 3vh;
  object-fit: cover;
}

#main-support-images-hang{
  grid-area: hang;
}
#main-support-images-plan{
  grid-area: plan;
}
#main-support-images-cheer{
  grid-area: cheer;
}
#main-support-images-debug{
  grid-area: debug;
}

.main-support-container > a{

  border-radius: 5vh;

  border: 0.3vh solid var(--lions-red);
  text-decoration: none;
  color: var(--lions-red);

  padding: 2vh;
  font-size: 3.5vh;

  transition: 250ms ease;
}

.main-support-container > a:hover{

  color: white;
  background: var(--lions-red);

  transition: 250ms ease;
}

/* ==================================================================================================================================== */
/* FOOTER */

footer{
  background: var(--super-dark-grey);
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;

  bottom: 0;
  width: 100%;

  position: absolute;
  min-height: 30vh;
  max-height: 30vh;
}

.footer-copyright{
  position: absolute;
  left: 0;
  bottom: 0;

  font-size: 2vh;
}

.footer-links ul{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  gap: 3vh;
}

.footer-links ul > li > a{
  text-decoration: none;
  color: white;

  font-size: 2.6vh;
  transition: 250ms ease;
}

.footer-links ul > li > a:hover{
  transition: 250ms ease;
  color: var(--lions-red);
}

.footer-slogan{
  font-size: 3vh;
  max-width: 12vw;

  font-style: italic;
}

.footer-team-name{
  display: flex;
  flex-direction: column;
  gap: 0.5vh;

  align-items: flex-end;
}

.footer-team-name-socials{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3vh;
}

.footer-team-name-socials img{
  max-width: 4vw;
  max-height: 4vh;

  transform: rotate(0deg);
  transition: 250ms ease;
}

.footer-team-name-socials img:hover{
  max-width: 4vw;
  max-height: 4vh;

  transform: rotate(-45deg);
  cursor: pointer;
  transition: 250ms ease;
}


.footer-team-name-banner{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3vh;
}

.footer-team-name-banner > img{
  max-width: 10vw;
  max-height: 10vh;
}

.footer-team-name-banner > h1{
  font-size: 5vh;
}
